#heading {

  text-align: center;
  font-size: 50px;
  text-shadow: 1px 2px 4px rgb(26, 38, 129);
  margin-bottom: 50px;
  text-decoration: underline;
}


body{

  background-image: linear-gradient(to bottom, rgb(177, 192, 226) , white);
  background-repeat: no-repeat;
 
}