.timerHeading {

  text-align: center;
  font-size: 50px;
  text-shadow: 1px 2px 4px rgb(253, 253, 253);
  margin-bottom: 50px;
  text-decoration: underline;
  color: rgb(249, 255, 255);
}


/* body{

  background-image: linear-gradient(to bottom, rgb(177, 192, 226) , white);
  background-repeat: no-repeat;
 
} */